<!-- fragments/miniProfileFragment.html -->
<div th:fragment="miniProfileFragment">
  <div class="mini-profile-modal" id="miniProfileModal">
    <div class="profile-header">
      <img src="/images/user.png" alt="프로필" class="profile-image">
      <div class="profile-info">
        <strong>김봉석</strong>
        <span>회원</span>
      </div>
    </div>

    <div class="profile-options">
      <div class="option"><span class="dot green"></span> 내 정보</div>
      <div class="option"><span class="dot green"></span> 온라인</div>
      <div class="option logout">로그아웃</div>
    </div>
  </div>
</div>
