<div th:fragment="lnbFragment" class="lnb">
    <ul class="nav">
        <li class="nav-item">
            <img src="/images/home.png" alt="Home">
            <span>홈</span>
        </li>
        <li class="nav-item">
            <img src="/images/team_calendar.png" alt="Team Calendar">
            <span>팀 캘린더</span>
        </li>
        <li class="nav-item">
            <img src="/images/personal_calendar.png" alt="Personal Calendar">
            <span>개인 캘린더</span>
        </li>
        <li class="nav-item">
            <img src="/images/location.png" alt="Location">
            <span>모임 장소</span>
        </li>
        <li class="nav-item">
            <img src="/images/sketch.png" alt="Sketch">
            <span>스케치 회의</span>
        </li>
    </ul>

    <div class="lnb-footer">
        <img src="/images/menu.png" alt="menu">
    </div>
</div>
