<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ocean.repository.CalendarEventRepository">

    <!-- 개인 일정 목록 불러오기 -->
    <select id="selectPersonalCalendar" parameterType="String" resultType="com.example.ocean.dto.response.PersonalCalendarResponse">
        SELECT
                EVENT_CD AS eventCd, TITLE, START_DATETIME AS startDatetime,
                END_DATETIME AS endDatetime, COLOR
        FROM   `EVENTS`
        WHERE   user_id = #{userID}
        ORDER BY PRIORITY
    </select>

    <!-- 개인일정 생성 -->
    <insert id="insertPersonalEvent" parameterType="com.example.ocean.dto.response.Event">
        INSERT
        INTO   `EVENTS`
        (
                EVENT_CD, USER_ID, WORKSPACE_CD, TITLE, DESCRIPTION,
                START_DATETIME, END_DATETIME, COLOR, IS_SHARED,
                PROGRESS_STATUS, PRIORITY, NOTIFY_TIME, CREATED_DATE
        ) VALUES (
                #{eventCd}, #{userId}, #{workspaceCd}, #{title}, #{description},
                #{startDatetime}, #{endDatetime}, #{color}, #{isShared},
                #{progressStatus}, #{priority}, #{notifyTime}, #{createdDate}
        )

    </insert>

    <!-- 일정선택 -->
    <select id="selectPersonalEvent" parameterType="String" resultType="com.example.ocean.dto.response.Event">
        SELECT
                EVENT_CD AS eventCd, USER_ID AS userId, WORKSPACE_CD AS workspaceCd, TITLE,
                DESCRIPTION, START_DATETIME AS startDatetime, END_DATETIME AS endDatetime,
                COLOR, IS_SHARED AS isShared, PROGRESS_STATUS AS progressStatus, PRIORITY AS priority,
                NOTIFY_TIME AS notifyTime, CREATED_DATE AS createdDate
        FROM   `EVENTS`
        WHERE   EVENT_CD = #{eventCd}
    </select>
    <select id="selectMailInfo" parameterType="String" resultType="com.example.ocean.dto.response.MailInfo">
        SELECT
                EVENT_CD AS eventCd,WORKSPACE_CD AS workspaceCd, TITLE, DESCRIPTION
        FROM   `EVENTS`
        WHERE   EVENT_CD = #{eventCd}
    </select>

    <!-- 일정 수정 -->
    <update id="updatePersonalEvent" parameterType="com.example.ocean.dto.request.PersonalEventUpdateRequest">
        UPDATE `EVENTS`
        <set>
            <if test="title          != null">   TITLE           = #{title},</if>
            <if test="description    != null">   DESCRIPTION     = #{description},</if>
            <if test="startDatetime  != null">   START_DATETIME  = #{startDatetime},</if>
            <if test="endDatetime    != null">   END_DATETIME    = #{endDatetime},</if>
            <if test="color          != null">   COLOR           = #{color},</if>
            <if test="isShared       != null">   IS_SHARED       = #{isShared},</if>
            <if test="progressStatus != null">   PROGRESS_STATUS = #{progressStatus},</if>
            <if test="priority       != null">   PRIORITY        = #{priority},</if>
            <if test="notifyTime     != null">   NOTIFY_TIME     = #{notifyTime},</if>
        </set>
        WHERE   EVENT_CD = #{eventCd}
        AND     USER_ID  = #{userId}
    </update>

    <!-- 일정 삭제 -->
    <delete id="deletePersonalEvent" parameterType="String">
        DELETE
        FROM   `EVENTS`
        WHERE   EVENT_CD = #{eventCd}
    </delete>

    <!-- 9시 알림 조회 -->
    <select id="selectTodayAlarm" resultType="String">
        SELECT  EVENT_CD AS eventCd
        FROM   `EVENTS`
        WHERE (
                NOTIFY_TIME = 540
            AND DATE(START_DATETIME) = CURDATE()
        ) OR (
                NOTIFY_TIME = 1440
            AND DATE(START_DATETIME) = DATE_ADD(CURDATE(), INTERVAL 1 DAY)
        )
    </select>

</mapper>
