<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.calendarSample.repository.CalendarEventRepository">

    <select id="selectPersonalCalendar" parameterType="String" resultType="PersonalCalendarResponse">
        SELECT
            event_cd AS eventCd,
            title,
            start_datetime AS startDatetime,
            end_datetime AS endDatetime,
            color
        FROM `EVENTS`
        WHERE user_id = #{userID}
        AND is_shared = '0'
        ORDER BY priority
    </select>

    <insert id="insertPersonalEvent" parameterType="Event">
        INSERT INTO `EVENTS` (
            event_cd, user_id, workspace_cd, title, description,
            start_datetime, end_datetime, color,
            is_shared, progress_status, priority, created_date
        ) VALUES (
            #{eventCd}, #{userId}, #{workspaceCd}, #{title}, #{description},
            #{startDatetime}, #{endDatetime}, #{color},
            #{isShared}, #{progressStatus}, #{priority}, #{createdDate}
        )

    </insert>



    <select id="selectPersonalEvent" parameterType="String" resultType="Event">
        SELECT
            event_cd AS eventCd,
            user_id AS userId,
            workspace_cd AS workspaceCd,
            title,
            description,
            start_datetime AS startDatetime,
            end_datetime AS endDatetime,
            color,
            is_shared AS isShared,
            progress_status AS progressStatus,
            priority AS priority,
            created_date AS createdDate
        FROM `EVENTS`
        WHERE event_cd = #{eventCd}
    </select>



    <update id="updatePersonalEvent" parameterType="PersonalEventUpdateRequest">
        UPDATE `EVENTS`
        <set>
            <if test="title         != null">   title           = #{title},</if>
            <if test="description   != null">   description     = #{description},</if>
            <if test="startDatetime != null">   start_datetime  = #{startDatetime},</if>
            <if test="endDatetime   != null">   end_datetime    = #{endDatetime},</if>
            <if test="color         != null">   color           = #{color},</if>
            <if test="isShared      != null">   is_shared       = #{isShared},</if>
            <if test="progressStatus != null">  progress_status = #{progressStatus},</if>
            <if test="priority      != null">   priority        = #{priority},</if>
        </set>
        WHERE event_cd = #{eventCd}
        AND user_id  = #{userId}
    </update>

    <delete id="deletePersonalEvent" parameterType="String">
        DELETE
        FROM `EVENTS`
        WHERE event_cd = #{eventCd}
    </delete>

</mapper>
