<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ocean.repository.EventAttendencesRepository">

    <insert id="insertEventAttendences" parameterType="map">
        INSERT INTO `EVENT_ATTENDENCES`(
        EVENT_CD AS eventCd, USER_ID AS userId
        )VALUES(
        #{eventCd}, #{userId}
        )
    </insert>

    <select id="selectAttendeesInfo" parameterType="String" resultType="com.example.ocean.dto.response.AttendeesInfo">
        SELECT
        ea.EVENT_CD AS eventCd,
        ea.USER_ID AS userId,
        wm.USER_NICKNAME AS userNickName
        FROM   `EVENT_ATTENDENCES` ea
        JOIN
        WORKSPACE_MEMBERS wm
        ON  ea.USER_ID = wm.USER_ID
        AND wm.WORKSPACE_CD = (
        SELECT  WORKSPACE_CD
        FROM   `EVENTS`
        WHERE   EVENT_CD = #{eventCd}
        )
        WHERE
        ea.EVENT_CD = #{eventCd}
    </select>

    <delete id="deleteAttendeesByEventCd" parameterType="String">
        DELETE
        FROM   `EVENT_ATTENDENCES`
        WHERE   EVENT_CD = #{eventCd}
    </delete>


</mapper>