<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ocean.repository.MentionNotificationRepository">
    <insert id="insertMentionNotification">
        INSERT INTO `MENTION_NOTIFICATION` (
        NOTI_CD, EVENT_CD, USER_ID, NOTI_STATE, READ_STATE
        ) VALUES (
            #{notiCd}, #{eventCd}, #{userId}, #{notiState}, #{readState}
        )
    </insert>

    <select id="selectUserNoti" parameterType="String" resultType="com.example.ocean.domain.MentionNotification">
        SELECT  NOTI_CD AS notiCd, EVENT_CD AS eventCd, USER_ID AS userId,
                NOTI_STATE AS notiState, READ_STATE AS readState
        FROM   `MENTION_NOTIFICATION`
        WHERE   USER_ID = #{userId}
    </select>

    <update id="updateAllNoti" parameterType="String">
        UPDATE `MENTION_NOTIFICATION`
        SET     READ_STATE = 'Y'
        WHERE   USER_ID = #{userId}
    </update>

    <update id="updateNoti" parameterType="String">
        UPDATE `MENTION_NOTIFICATION`
        SET     READ_STATE = 'Y'
        WHERE   NOTI_CD = #{notiCd}
    </update>

</mapper>