<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ocean.repository.TeamEventRepository">
    <select id="selectTeamEvents" parameterType="String" resultType="com.example.ocean.dto.response.TeamCalendarResponse">
        SELECT
        EVENT_CD AS eventCd,
        TITLE,
        START_DATETIME AS startDatetime,
        END_DATETIME AS endDatetime,
        COLOR
        FROM `EVENTS`
        WHERE WORKSPACE_CD = #{workspaceCd}
        AND   IS_SHARED = '1'
    </select>

    <select id="selectTeamEventDetail" parameterType="String" resultType="TeamEventDetail">
        SELECT
                EVENT_CD AS eventCd, USER_ID AS userId, WORKSPACE_CD AS workspaceCd,
                TITLE, DESCRIPTION, START_DATETIME AS startDatetime, END_DATETIME AS endDatetime,
                COLOR, IS_SHARED AS isShared, PROGRESS_STATUS AS progressStatus, PRIORITY AS priority,
                CREATED_DATE AS createdDate, NOTIFY_TIME AS notifyTime
        FROM   `EVENTS`
        WHERE   EVENT_CD = #{eventCd}
    </select>

    <insert id="insertTeamEvent" parameterType="TeamEventDetail">
        INSERT INTO `EVENTS` (
            EVENT_CD, USER_ID, WORKSPACE_CD, TITLE, DESCRIPTION,
            START_DATETIME, END_DATETIME, COLOR, IS_SHARED,
            PROGRESS_STATUS, PRIORITY, CREATED_DATE, NOTIFY_TIME
        ) VALUES (
            #{eventCd}, #{userId}, #{workspaceCd}, #{title}, #{description},
            #{startDatetime}, #{endDatetime}, #{color}, #{isShared},
            #{progressStatus}, #{priority}, #{createdDate}, #{notifyTime}
        )
    </insert>

    <update id="updateTeamEvent" parameterType="TeamEventDetail">
        UPDATE `EVENTS`
        SET     TITLE = #{title}, DESCRIPTION = #{description}, START_DATETIME = #{startDatetime}, END_DATETIME = #{endDatetime},
                COLOR = #{color}, IS_SHARED = #{isShared}, PROGRESS_STATUS = #{progressStatus}, PRIORITY = #{priority}, NOTIFY_TIME = #{notifyTime}
        WHERE   EVENT_CD = #{eventCd}
        AND     USER_ID  = #{userId}
    </update>

    <delete id="deleteTeamEvent" parameterType="String">
        DELETE
        FROM   `EVENTS`
        WHERE   EVENT_CD = #{eventCd}
        AND     USER_ID  = #{userId}
    </delete>

</mapper>